/* BLOCK */
.protocol-card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 1px solid #4a4a4a80;
}

/* ELEMENT: image */
.protocol-card__image {
  border-radius: 8px;
  width: 282px;
  height: 282px;
  object-fit: cover;
  position: relative;
}

/* ELEMENT: info container */
.protocol-card__info {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

/* ELEMENT: name */
.protocol-card__name {
  margin: 8px 0 4px 0;
  font-size: 16px;
  font-weight: 600;
}

/* ELEMENT: type label */
.protocol-card__type {
  font-size: 14px;
  opacity: 0.8;
}
